[Desktop Entry]
Version=1.0
Type=Application
Name=IRIS Music
Comment=IRIS terminal music client powered by the Verome API
Exec=bash -c "$(dirname %k)/launcher.sh"
Icon=utilities-terminal
Terminal=true
Categories=AudioVideo;Audio;Music;ConsoleOnly;
Keywords=Music;Terminal;TUI;Player;
